.opennem-widget {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #ece9e6;
  display: inline-block;
  border-radius: 6px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.opennem-widget a {
  color: #c74523
}

.opennem-widget header {
  text-align: center;
}

.opennem-widget header h1 {
  font-size: 14px;
  padding: 0;
  margin: 2px 0;
  font-weight: 300;
}

.opennem-widget header span {
  position: relative;
  top: 2px;
}

.opennem-widget h1 img {
  width: 20px;
  vertical-align: middle;
}

.opennem-widget footer {
  font-size: 11px;
  border-top: 1px solid #ccc;
  text-align: center;
  padding-top: 5px;
}

.opennem-widget .chart-wrapper {
  position: relative;
}

.opennem-widget #chart {
  text-align: center;
  min-height: 220px;
}

.opennem-widget text {
  font-weight: 300;
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.opennem-widget .axis path,
.opennem-widget .axis line {
  fill: none;
  stroke: #a5a3a2;
  stroke-width: 0;
  shape-rendering: crispEdges;
}

.opennem-widget .axis .tick line {
  stroke: rgba(200, 200, 200, .3);
  stroke-width: 1;
}

.opennem-widget .axis--y .tick text {
  font-size: 9px;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, .8);
}

.opennem-widget .axis--y .tick:last-child text {
  visibility: hidden;
}

.opennem-widget .browser text {
  text-anchor: end;
}

.opennem-widget #legend-table {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -65px;
  width: 130px;
  background-color: #fff;
  display: none;
}

.opennem-widget #legend-table table {
  font-size: 10px;
}

.opennem-widget #legend-table .source-colour {
  display: inline-block;
  width: 10px;
  height: 10px;
}